.est-r-fb {
  flex-basis: var(--flex-basis);
}

@media (--xs) {
  .xs\:est-r-fb {
    flex-basis: var(--flex-basis-xs);
  }
}

@media (--sm) {
  .sm\:est-r-fb {
    flex-basis: var(--flex-basis-sm);
  }
}

@media (--md) {
  .md\:est-r-fb {
    flex-basis: var(--flex-basis-md);
  }
}

@media (--lg) {
  .lg\:est-r-fb {
    flex-basis: var(--flex-basis-lg);
  }
}

@media (--xl) {
  .xl\:est-r-fb {
    flex-basis: var(--flex-basis-xl);
  }
}