@breakpoints {
  .est-r-fs {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-fs-0 {
    flex-shrink: 0;
  }

  .est-r-fs-1 {
    flex-shrink: 1;
  }
}

.est-r-fs {
  flex-shrink: var(--flex-shrink);
}

@media (--xs) {
  .xs\:est-r-fs {
    flex-shrink: var(--flex-shrink-xs);
  }
}

@media (--sm) {
  .sm\:est-r-fs {
    flex-shrink: var(--flex-shrink-sm);
  }
}

@media (--md) {
  .md\:est-r-fs {
    flex-shrink: var(--flex-shrink-md);
  }
}

@media (--lg) {
  .lg\:est-r-fs {
    flex-shrink: var(--flex-shrink-lg);
  }
}

@media (--xl) {
  .xl\:est-r-fs {
    flex-shrink: var(--flex-shrink-xl);
  }
}