@breakpoints {
  .est-r-gap {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-gap-0 {
    gap: 0;
  }

  .est-r-gap-1 {
    gap: var(--space-1);
  }

  .est-r-gap-2 {
    gap: var(--space-2);
  }

  .est-r-gap-3 {
    gap: var(--space-3);
  }

  .est-r-gap-4 {
    gap: var(--space-4);
  }

  .est-r-gap-5 {
    gap: var(--space-5);
  }

  .est-r-gap-6 {
    gap: var(--space-6);
  }

  .est-r-gap-7 {
    gap: var(--space-7);
  }

  .est-r-gap-8 {
    gap: var(--space-8);
  }

  .est-r-gap-9 {
    gap: var(--space-9);
  }

  .est-r-cg {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-cg-0 {
    column-gap: 0;
  }

  .est-r-cg-1 {
    column-gap: var(--space-1);
  }

  .est-r-cg-2 {
    column-gap: var(--space-2);
  }

  .est-r-cg-3 {
    column-gap: var(--space-3);
  }

  .est-r-cg-4 {
    column-gap: var(--space-4);
  }

  .est-r-cg-5 {
    column-gap: var(--space-5);
  }

  .est-r-cg-6 {
    column-gap: var(--space-6);
  }

  .est-r-cg-7 {
    column-gap: var(--space-7);
  }

  .est-r-cg-8 {
    column-gap: var(--space-8);
  }

  .est-r-cg-9 {
    column-gap: var(--space-9);
  }

  .est-r-rg {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-rg-0 {
    row-gap: 0;
  }

  .est-r-rg-1 {
    row-gap: var(--space-1);
  }

  .est-r-rg-2 {
    row-gap: var(--space-2);
  }

  .est-r-rg-3 {
    row-gap: var(--space-3);
  }

  .est-r-rg-4 {
    row-gap: var(--space-4);
  }

  .est-r-rg-5 {
    row-gap: var(--space-5);
  }

  .est-r-rg-6 {
    row-gap: var(--space-6);
  }

  .est-r-rg-7 {
    row-gap: var(--space-7);
  }

  .est-r-rg-8 {
    row-gap: var(--space-8);
  }

  .est-r-rg-9 {
    row-gap: var(--space-9);
  }
}

.est-r-gap {
  gap: var(--gap);
}

.est-r-cg {
  column-gap: var(--column-gap);
}

.est-r-rg {
  row-gap: var(--row-gap);
}

@media (--xs) {
  .xs\:est-r-gap {
    gap: var(--gap-xs);
  }

  .xs\:est-r-cg {
    column-gap: var(--column-gap-xs);
  }

  .xs\:est-r-rg {
    row-gap: var(--row-gap-xs);
  }
}

@media (--sm) {
  .sm\:est-r-gap {
    gap: var(--gap-sm);
  }

  .sm\:est-r-cg {
    column-gap: var(--column-gap-sm);
  }

  .sm\:est-r-rg {
    row-gap: var(--row-gap-sm);
  }
}

@media (--md) {
  .md\:est-r-gap {
    gap: var(--gap-md);
  }

  .md\:est-r-cg {
    column-gap: var(--column-gap-md);
  }

  .md\:est-r-rg {
    row-gap: var(--row-gap-md);
  }
}

@media (--lg) {
  .lg\:est-r-gap {
    gap: var(--gap-lg);
  }

  .lg\:est-r-cg {
    column-gap: var(--column-gap-lg);
  }

  .lg\:est-r-rg {
    row-gap: var(--row-gap-lg);
  }
}

@media (--xl) {
  .xl\:est-r-gap {
    gap: var(--gap-xl);
  }

  .xl\:est-r-cg {
    column-gap: var(--column-gap-xl);
  }

  .xl\:est-r-rg {
    row-gap: var(--row-gap-xl);
  }
}