@breakpoints {
  .est-r-gre {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-gre-1 {
    grid-row-end: 1;
  }

  .est-r-gre-2 {
    grid-row-end: 2;
  }

  .est-r-gre-3 {
    grid-row-end: 3;
  }

  .est-r-gre-4 {
    grid-row-end: 4;
  }

  .est-r-gre-5 {
    grid-row-end: 5;
  }

  .est-r-gre-6 {
    grid-row-end: 6;
  }

  .est-r-gre-7 {
    grid-row-end: 7;
  }

  .est-r-gre-8 {
    grid-row-end: 8;
  }

  .est-r-gre-9 {
    grid-row-end: 9;
  }
}

.est-r-gre {
  grid-row-end: var(--grid-row-end);
}

@media (--xs) {
  .xs\:est-r-gre {
    grid-row-end: var(--grid-row-end-xs);
  }
}

@media (--sm) {
  .sm\:est-r-gre {
    grid-row-end: var(--grid-row-end-sm);
  }
}

@media (--md) {
  .md\:est-r-gre {
    grid-row-end: var(--grid-row-end-md);
  }
}

@media (--lg) {
  .lg\:est-r-gre {
    grid-row-end: var(--grid-row-end-lg);
  }
}

@media (--xl) {
  .xl\:est-r-gre {
    grid-row-end: var(--grid-row-end-xl);
  }
}