@breakpoints {
  .est-r-gcs {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-gcs-1 {
    grid-column-start: 1;
  }

  .est-r-gcs-2 {
    grid-column-start: 2;
  }

  .est-r-gcs-3 {
    grid-column-start: 3;
  }

  .est-r-gcs-4 {
    grid-column-start: 4;
  }

  .est-r-gcs-5 {
    grid-column-start: 5;
  }

  .est-r-gcs-6 {
    grid-column-start: 6;
  }

  .est-r-gcs-7 {
    grid-column-start: 7;
  }

  .est-r-gcs-8 {
    grid-column-start: 8;
  }

  .est-r-gcs-9 {
    grid-column-start: 9;
  }
}

.est-r-gcs {
  grid-column-start: var(--grid-column-start);
}

@media (--xs) {
  .xs\:est-r-gcs {
    grid-column-start: var(--grid-column-start-xs);
  }
}

@media (--sm) {
  .sm\:est-r-gcs {
    grid-column-start: var(--grid-column-start-sm);
  }
}

@media (--md) {
  .md\:est-r-gcs {
    grid-column-start: var(--grid-column-start-md);
  }
}

@media (--lg) {
  .lg\:est-r-gcs {
    grid-column-start: var(--grid-column-start-lg);
  }
}

@media (--xl) {
  .xl\:est-r-gcs {
    grid-column-start: var(--grid-column-start-xl);
  }
}