@breakpoints {
  .est-r-grs {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-grs-1 {
    grid-row-start: 1;
  }

  .est-r-grs-2 {
    grid-row-start: 2;
  }

  .est-r-grs-3 {
    grid-row-start: 3;
  }

  .est-r-grs-4 {
    grid-row-start: 4;
  }

  .est-r-grs-5 {
    grid-row-start: 5;
  }

  .est-r-grs-6 {
    grid-row-start: 6;
  }

  .est-r-grs-7 {
    grid-row-start: 7;
  }

  .est-r-grs-8 {
    grid-row-start: 8;
  }

  .est-r-grs-9 {
    grid-row-start: 9;
  }
}

.est-r-grs {
  grid-row-start: var(--grid-row-start);
}

@media (--xs) {
  .xs\:est-r-grs {
    grid-row-start: var(--grid-row-start-xs);
  }
}

@media (--sm) {
  .sm\:est-r-grs {
    grid-row-start: var(--grid-row-start-sm);
  }
}

@media (--md) {
  .md\:est-r-grs {
    grid-row-start: var(--grid-row-start-md);
  }
}

@media (--lg) {
  .lg\:est-r-grs {
    grid-row-start: var(--grid-row-start-lg);
  }
}

@media (--xl) {
  .xl\:est-r-grs {
    grid-row-start: var(--grid-row-start-xl);
  }
}