.est-r-gta {
  grid-template-areas: var(--grid-template-areas);
}

@media (--xs) {
  .xs\:est-r-gta {
    grid-template-areas: var(--grid-template-areas-xs);
  }
}

@media (--sm) {
  .sm\:est-r-gta {
    grid-template-areas: var(--grid-template-areas-sm);
  }
}

@media (--md) {
  .md\:est-r-gta {
    grid-template-areas: var(--grid-template-areas-md);
  }
}

@media (--lg) {
  .lg\:est-r-gta {
    grid-template-areas: var(--grid-template-areas-lg);
  }
}

@media (--xl) {
  .xl\:est-r-gta {
    grid-template-areas: var(--grid-template-areas-xl);
  }
}