@breakpoints {
  .est-r-gaf-row {
    grid-auto-flow: row;
  }

  .est-r-gaf-column {
    grid-auto-flow: column;
  }

  .est-r-gaf-dense {
    grid-auto-flow: dense;
  }

  .est-r-gaf-row-dense {
    grid-auto-flow: row dense;
  }

  .est-r-gaf-column-dense {
    grid-auto-flow: column dense;
  }
}