.est-r-ga {
  grid-area: var(--grid-area);
}

@media (--xs) {
  .xs\:est-r-ga {
    grid-area: var(--grid-area-xs);
  }
}

@media (--sm) {
  .sm\:est-r-ga {
    grid-area: var(--grid-area-sm);
  }
}

@media (--md) {
  .md\:est-r-ga {
    grid-area: var(--grid-area-md);
  }
}

@media (--lg) {
  .lg\:est-r-ga {
    grid-area: var(--grid-area-lg);
  }
}

@media (--xl) {
  .xl\:est-r-ga {
    grid-area: var(--grid-area-xl);
  }
}