/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*              All sides              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-m,
  .est-r-m-0,
  .est-r-m-1,
  .est-r-m-2,
  .est-r-m-3,
  .est-r-m-4,
  .est-r-m-5,
  .est-r-m-6,
  .est-r-m-7,
  .est-r-m-8,
  .est-r-m-9,
  .-est-r-m-1,
  .-est-r-m-2,
  .-est-r-m-3,
  .-est-r-m-4,
  .-est-r-m-5,
  .-est-r-m-6,
  .-est-r-m-7,
  .-est-r-m-8,
  .-est-r-m-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-right: var(--margin-right-override, var(--margin-right));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .est-r-m {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-m-0 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }

  .est-r-m-1 {
    --margin-top: var(--space-1);
    --margin-right: var(--space-1);
    --margin-bottom: var(--space-1);
    --margin-left: var(--space-1);
  }

  .est-r-m-2 {
    --margin-top: var(--space-2);
    --margin-right: var(--space-2);
    --margin-bottom: var(--space-2);
    --margin-left: var(--space-2);
  }

  .est-r-m-3 {
    --margin-top: var(--space-3);
    --margin-right: var(--space-3);
    --margin-bottom: var(--space-3);
    --margin-left: var(--space-3);
  }

  .est-r-m-4 {
    --margin-top: var(--space-4);
    --margin-right: var(--space-4);
    --margin-bottom: var(--space-4);
    --margin-left: var(--space-4);
  }

  .est-r-m-5 {
    --margin-top: var(--space-5);
    --margin-right: var(--space-5);
    --margin-bottom: var(--space-5);
    --margin-left: var(--space-5);
  }

  .est-r-m-6 {
    --margin-top: var(--space-6);
    --margin-right: var(--space-6);
    --margin-bottom: var(--space-6);
    --margin-left: var(--space-6);
  }

  .est-r-m-7 {
    --margin-top: var(--space-7);
    --margin-right: var(--space-7);
    --margin-bottom: var(--space-7);
    --margin-left: var(--space-7);
  }

  .est-r-m-8 {
    --margin-top: var(--space-8);
    --margin-right: var(--space-8);
    --margin-bottom: var(--space-8);
    --margin-left: var(--space-8);
  }

  .est-r-m-9 {
    --margin-top: var(--space-9);
    --margin-right: var(--space-9);
    --margin-bottom: var(--space-9);
    --margin-left: var(--space-9);
  }

  .-est-r-m-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
    --margin-left: calc(-1 * var(--space-1));
  }

  .-est-r-m-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
    --margin-left: calc(-1 * var(--space-2));
  }

  .-est-r-m-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
    --margin-left: calc(-1 * var(--space-3));
  }

  .-est-r-m-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
    --margin-left: calc(-1 * var(--space-4));
  }

  .-est-r-m-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
    --margin-left: calc(-1 * var(--space-5));
  }

  .-est-r-m-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
    --margin-left: calc(-1 * var(--space-6));
  }

  .-est-r-m-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
    --margin-left: calc(-1 * var(--space-7));
  }

  .-est-r-m-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
    --margin-left: calc(-1 * var(--space-8));
  }

  .-est-r-m-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
    --margin-left: calc(-1 * var(--space-9));
  }
}

.est-r-m {
  --margin-top: var(--m);
  --margin-right: var(--m);
  --margin-bottom: var(--m);
  --margin-left: var(--m);
}

@media (--xs) {
  .xs\:est-r-m {
    --margin-top: var(--m-xs);
    --margin-right: var(--m-xs);
    --margin-bottom: var(--m-xs);
    --margin-left: var(--m-xs);
  }
}

@media (--sm) {
  .sm\:est-r-m {
    --margin-top: var(--m-sm);
    --margin-right: var(--m-sm);
    --margin-bottom: var(--m-sm);
    --margin-left: var(--m-sm);
  }
}

@media (--md) {
  .md\:est-r-m {
    --margin-top: var(--m-md);
    --margin-right: var(--m-md);
    --margin-bottom: var(--m-md);
    --margin-left: var(--m-md);
  }
}

@media (--lg) {
  .lg\:est-r-m {
    --margin-top: var(--m-lg);
    --margin-right: var(--m-lg);
    --margin-bottom: var(--m-lg);
    --margin-left: var(--m-lg);
  }
}

@media (--xl) {
  .xl\:est-r-m {
    --margin-top: var(--m-xl);
    --margin-right: var(--m-xl);
    --margin-bottom: var(--m-xl);
    --margin-left: var(--m-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Left and right            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-mx,
  .est-r-mx-0,
  .est-r-mx-1,
  .est-r-mx-2,
  .est-r-mx-3,
  .est-r-mx-4,
  .est-r-mx-5,
  .est-r-mx-6,
  .est-r-mx-7,
  .est-r-mx-8,
  .est-r-mx-9,
  .-est-r-mx-1,
  .-est-r-mx-2,
  .-est-r-mx-3,
  .-est-r-mx-4,
  .-est-r-mx-5,
  .-est-r-mx-6,
  .-est-r-mx-7,
  .-est-r-mx-8,
  .-est-r-mx-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .est-r-mx {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-mx-0 {
    --margin-left: 0px;
    --margin-right: 0px;
  }

  .est-r-mx-1 {
    --margin-left: var(--space-1);
    --margin-right: var(--space-1);
  }

  .est-r-mx-2 {
    --margin-left: var(--space-2);
    --margin-right: var(--space-2);
  }

  .est-r-mx-3 {
    --margin-left: var(--space-3);
    --margin-right: var(--space-3);
  }

  .est-r-mx-4 {
    --margin-left: var(--space-4);
    --margin-right: var(--space-4);
  }

  .est-r-mx-5 {
    --margin-left: var(--space-5);
    --margin-right: var(--space-5);
  }

  .est-r-mx-6 {
    --margin-left: var(--space-6);
    --margin-right: var(--space-6);
  }

  .est-r-mx-7 {
    --margin-left: var(--space-7);
    --margin-right: var(--space-7);
  }

  .est-r-mx-8 {
    --margin-left: var(--space-8);
    --margin-right: var(--space-8);
  }

  .est-r-mx-9 {
    --margin-left: var(--space-9);
    --margin-right: var(--space-9);
  }

  .-est-r-mx-1 {
    --margin-left: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
  }

  .-est-r-mx-2 {
    --margin-left: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
  }

  .-est-r-mx-3 {
    --margin-left: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
  }

  .-est-r-mx-4 {
    --margin-left: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
  }

  .-est-r-mx-5 {
    --margin-left: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
  }

  .-est-r-mx-6 {
    --margin-left: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
  }

  .-est-r-mx-7 {
    --margin-left: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
  }

  .-est-r-mx-8 {
    --margin-left: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
  }

  .-est-r-mx-9 {
    --margin-left: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
  }
}

.est-r-mx {
  --margin-left: var(--ml);
  --margin-right: var(--mr);
}

@media (--xs) {
  .xs\:est-r-mx {
    --margin-left: var(--ml-xs);
    --margin-right: var(--mr-xs);
  }
}

@media (--sm) {
  .sm\:est-r-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}

@media (--md) {
  .md\:est-r-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}

@media (--lg) {
  .lg\:est-r-mx {
    --margin-left: var(--ml-lg);
    --margin-right: var(--mr-lg);
  }
}

@media (--xl) {
  .xl\:est-r-mx {
    --margin-left: var(--ml-xl);
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Top and bottom            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-my,
  .est-r-my-0,
  .est-r-my-1,
  .est-r-my-2,
  .est-r-my-3,
  .est-r-my-4,
  .est-r-my-5,
  .est-r-my-6,
  .est-r-my-7,
  .est-r-my-8,
  .est-r-my-9,
  .-est-r-my-1,
  .-est-r-my-2,
  .-est-r-my-3,
  .-est-r-my-4,
  .-est-r-my-5,
  .-est-r-my-6,
  .-est-r-my-7,
  .-est-r-my-8,
  .-est-r-my-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .est-r-my {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-my-0 {
    --margin-top: 0px;
    --margin-bottom: 0px;
  }

  .est-r-my-1 {
    --margin-top: var(--space-1);
    --margin-bottom: var(--space-1);
  }

  .est-r-my-2 {
    --margin-top: var(--space-2);
    --margin-bottom: var(--space-2);
  }

  .est-r-my-3 {
    --margin-top: var(--space-3);
    --margin-bottom: var(--space-3);
  }

  .est-r-my-4 {
    --margin-top: var(--space-4);
    --margin-bottom: var(--space-4);
  }

  .est-r-my-5 {
    --margin-top: var(--space-5);
    --margin-bottom: var(--space-5);
  }

  .est-r-my-6 {
    --margin-top: var(--space-6);
    --margin-bottom: var(--space-6);
  }

  .est-r-my-7 {
    --margin-top: var(--space-7);
    --margin-bottom: var(--space-7);
  }

  .est-r-my-8 {
    --margin-top: var(--space-8);
    --margin-bottom: var(--space-8);
  }

  .est-r-my-9 {
    --margin-top: var(--space-9);
    --margin-bottom: var(--space-9);
  }

  .-est-r-my-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
  }

  .-est-r-my-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
  }

  .-est-r-my-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
  }

  .-est-r-my-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
  }

  .-est-r-my-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
  }

  .-est-r-my-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
  }

  .-est-r-my-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
  }

  .-est-r-my-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
  }

  .-est-r-my-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
  }
}

.est-r-my {
  --margin-top: var(--mt);
  --margin-bottom: var(--mb);
}

@media (--xs) {
  .xs\:est-r-my {
    --margin-top: var(--mt-xs);
    --margin-bottom: var(--mb-xs);
  }
}

@media (--sm) {
  .sm\:est-r-my {
    --margin-top: var(--mt-sm);
    --margin-bottom: var(--mb-sm);
  }
}

@media (--md) {
  .md\:est-r-my {
    --margin-top: var(--mt-md);
    --margin-bottom: var(--mb-md);
  }
}

@media (--lg) {
  .lg\:est-r-my {
    --margin-top: var(--mt-lg);
    --margin-bottom: var(--mb-lg);
  }
}

@media (--xl) {
  .xl\:est-r-my {
    --margin-top: var(--mt-xl);
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                 Top                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-mt,
  .est-r-mt-0,
  .est-r-mt-1,
  .est-r-mt-2,
  .est-r-mt-3,
  .est-r-mt-4,
  .est-r-mt-5,
  .est-r-mt-6,
  .est-r-mt-7,
  .est-r-mt-8,
  .est-r-mt-9,
  .-est-r-mt-1,
  .-est-r-mt-2,
  .-est-r-mt-3,
  .-est-r-mt-4,
  .-est-r-mt-5,
  .-est-r-mt-6,
  .-est-r-mt-7,
  .-est-r-mt-8,
  .-est-r-mt-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .est-r-mt {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-mt-0 {
    --margin-top: 0px;
  }

  .est-r-mt-1 {
    --margin-top: var(--space-1);
  }

  .est-r-mt-2 {
    --margin-top: var(--space-2);
  }

  .est-r-mt-3 {
    --margin-top: var(--space-3);
  }

  .est-r-mt-4 {
    --margin-top: var(--space-4);
  }

  .est-r-mt-5 {
    --margin-top: var(--space-5);
  }

  .est-r-mt-6 {
    --margin-top: var(--space-6);
  }

  .est-r-mt-7 {
    --margin-top: var(--space-7);
  }

  .est-r-mt-8 {
    --margin-top: var(--space-8);
  }

  .est-r-mt-9 {
    --margin-top: var(--space-9);
  }

  .-est-r-mt-1 {
    --margin-top: calc(-1 * var(--space-1));
  }

  .-est-r-mt-2 {
    --margin-top: calc(-1 * var(--space-2));
  }

  .-est-r-mt-3 {
    --margin-top: calc(-1 * var(--space-3));
  }

  .-est-r-mt-4 {
    --margin-top: calc(-1 * var(--space-4));
  }

  .-est-r-mt-5 {
    --margin-top: calc(-1 * var(--space-5));
  }

  .-est-r-mt-6 {
    --margin-top: calc(-1 * var(--space-6));
  }

  .-est-r-mt-7 {
    --margin-top: calc(-1 * var(--space-7));
  }

  .-est-r-mt-8 {
    --margin-top: calc(-1 * var(--space-8));
  }

  .-est-r-mt-9 {
    --margin-top: calc(-1 * var(--space-9));
  }
}

.est-r-mt {
  --margin-top: var(--mt);
}

@media (--xs) {
  .xs\:est-r-mt {
    --margin-top: var(--mt-xs);
  }
}

@media (--sm) {
  .sm\:est-r-mt {
    --margin-top: var(--mt-sm);
  }
}

@media (--md) {
  .md\:est-r-mt {
    --margin-top: var(--mt-md);
  }
}

@media (--lg) {
  .lg\:est-r-mt {
    --margin-top: var(--mt-lg);
  }
}

@media (--xl) {
  .xl\:est-r-mt {
    --margin-top: var(--mt-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Right                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-mr,
  .est-r-mr-0,
  .est-r-mr-1,
  .est-r-mr-2,
  .est-r-mr-3,
  .est-r-mr-4,
  .est-r-mr-5,
  .est-r-mr-6,
  .est-r-mr-7,
  .est-r-mr-8,
  .est-r-mr-9,
  .-est-r-mr-1,
  .-est-r-mr-2,
  .-est-r-mr-3,
  .-est-r-mr-4,
  .-est-r-mr-5,
  .-est-r-mr-6,
  .-est-r-mr-7,
  .-est-r-mr-8,
  .-est-r-mr-9 {
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .est-r-mr {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-mr-0 {
    --margin-right: 0px;
  }

  .est-r-mr-1 {
    --margin-right: var(--space-1);
  }

  .est-r-mr-2 {
    --margin-right: var(--space-2);
  }

  .est-r-mr-3 {
    --margin-right: var(--space-3);
  }

  .est-r-mr-4 {
    --margin-right: var(--space-4);
  }

  .est-r-mr-5 {
    --margin-right: var(--space-5);
  }

  .est-r-mr-6 {
    --margin-right: var(--space-6);
  }

  .est-r-mr-7 {
    --margin-right: var(--space-7);
  }

  .est-r-mr-8 {
    --margin-right: var(--space-8);
  }

  .est-r-mr-9 {
    --margin-right: var(--space-9);
  }

  .-est-r-mr-1 {
    --margin-right: calc(-1 * var(--space-1));
  }

  .-est-r-mr-2 {
    --margin-right: calc(-1 * var(--space-2));
  }

  .-est-r-mr-3 {
    --margin-right: calc(-1 * var(--space-3));
  }

  .-est-r-mr-4 {
    --margin-right: calc(-1 * var(--space-4));
  }

  .-est-r-mr-5 {
    --margin-right: calc(-1 * var(--space-5));
  }

  .-est-r-mr-6 {
    --margin-right: calc(-1 * var(--space-6));
  }

  .-est-r-mr-7 {
    --margin-right: calc(-1 * var(--space-7));
  }

  .-est-r-mr-8 {
    --margin-right: calc(-1 * var(--space-8));
  }

  .-est-r-mr-9 {
    --margin-right: calc(-1 * var(--space-9));
  }
}

.est-r-mr {
  --margin-right: var(--mr);
}

@media (--xs) {
  .xs\:est-r-mr {
    --margin-right: var(--mr-xs);
  }
}

@media (--sm) {
  .sm\:est-r-mr {
    --margin-right: var(--mr-sm);
  }
}

@media (--md) {
  .md\:est-r-mr {
    --margin-right: var(--mr-md);
  }
}

@media (--lg) {
  .lg\:est-r-mr {
    --margin-right: var(--mr-lg);
  }
}

@media (--xl) {
  .xl\:est-r-mr {
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*               Bottom                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-mb,
  .est-r-mb-0,
  .est-r-mb-1,
  .est-r-mb-2,
  .est-r-mb-3,
  .est-r-mb-4,
  .est-r-mb-5,
  .est-r-mb-6,
  .est-r-mb-7,
  .est-r-mb-8,
  .est-r-mb-9,
  .-est-r-mb-1,
  .-est-r-mb-2,
  .-est-r-mb-3,
  .-est-r-mb-4,
  .-est-r-mb-5,
  .-est-r-mb-6,
  .-est-r-mb-7,
  .-est-r-mb-8,
  .-est-r-mb-9 {
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .est-r-mb {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-mb-0 {
    --margin-bottom: 0px;
  }

  .est-r-mb-1 {
    --margin-bottom: var(--space-1);
  }

  .est-r-mb-2 {
    --margin-bottom: var(--space-2);
  }

  .est-r-mb-3 {
    --margin-bottom: var(--space-3);
  }

  .est-r-mb-4 {
    --margin-bottom: var(--space-4);
  }

  .est-r-mb-5 {
    --margin-bottom: var(--space-5);
  }

  .est-r-mb-6 {
    --margin-bottom: var(--space-6);
  }

  .est-r-mb-7 {
    --margin-bottom: var(--space-7);
  }

  .est-r-mb-8 {
    --margin-bottom: var(--space-8);
  }

  .est-r-mb-9 {
    --margin-bottom: var(--space-9);
  }

  .-est-r-mb-1 {
    --margin-bottom: calc(-1 * var(--space-1));
  }

  .-est-r-mb-2 {
    --margin-bottom: calc(-1 * var(--space-2));
  }

  .-est-r-mb-3 {
    --margin-bottom: calc(-1 * var(--space-3));
  }

  .-est-r-mb-4 {
    --margin-bottom: calc(-1 * var(--space-4));
  }

  .-est-r-mb-5 {
    --margin-bottom: calc(-1 * var(--space-5));
  }

  .-est-r-mb-6 {
    --margin-bottom: calc(-1 * var(--space-6));
  }

  .-est-r-mb-7 {
    --margin-bottom: calc(-1 * var(--space-7));
  }

  .-est-r-mb-8 {
    --margin-bottom: calc(-1 * var(--space-8));
  }

  .-est-r-mb-9 {
    --margin-bottom: calc(-1 * var(--space-9));
  }
}

.est-r-mb {
  --margin-bottom: var(--mb);
}

@media (--xs) {
  .xs\:est-r-mb {
    --margin-bottom: var(--mb-xs);
  }
}

@media (--sm) {
  .sm\:est-r-mb {
    --margin-bottom: var(--mb-sm);
  }
}

@media (--md) {
  .md\:est-r-mb {
    --margin-bottom: var(--mb-md);
  }
}

@media (--lg) {
  .lg\:est-r-mb {
    --margin-bottom: var(--mb-lg);
  }
}

@media (--xl) {
  .xl\:est-r-mb {
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Left                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {

  .est-r-ml,
  .est-r-ml-0,
  .est-r-ml-1,
  .est-r-ml-2,
  .est-r-ml-3,
  .est-r-ml-4,
  .est-r-ml-5,
  .est-r-ml-6,
  .est-r-ml-7,
  .est-r-ml-8,
  .est-r-ml-9,
  .-est-r-ml-1,
  .-est-r-ml-2,
  .-est-r-ml-3,
  .-est-r-ml-4,
  .-est-r-ml-5,
  .-est-r-ml-6,
  .-est-r-ml-7,
  .-est-r-ml-8,
  .-est-r-ml-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .est-r-ml {
    /* Keep this selector here to maintain the source order */
  }

  .est-r-ml-0 {
    --margin-left: 0px;
  }

  .est-r-ml-1 {
    --margin-left: var(--space-1);
  }

  .est-r-ml-2 {
    --margin-left: var(--space-2);
  }

  .est-r-ml-3 {
    --margin-left: var(--space-3);
  }

  .est-r-ml-4 {
    --margin-left: var(--space-4);
  }

  .est-r-ml-5 {
    --margin-left: var(--space-5);
  }

  .est-r-ml-6 {
    --margin-left: var(--space-6);
  }

  .est-r-ml-7 {
    --margin-left: var(--space-7);
  }

  .est-r-ml-8 {
    --margin-left: var(--space-8);
  }

  .est-r-ml-9 {
    --margin-left: var(--space-9);
  }

  .-est-r-ml-1 {
    --margin-left: calc(-1 * var(--space-1));
  }

  .-est-r-ml-2 {
    --margin-left: calc(-1 * var(--space-2));
  }

  .-est-r-ml-3 {
    --margin-left: calc(-1 * var(--space-3));
  }

  .-est-r-ml-4 {
    --margin-left: calc(-1 * var(--space-4));
  }

  .-est-r-ml-5 {
    --margin-left: calc(-1 * var(--space-5));
  }

  .-est-r-ml-6 {
    --margin-left: calc(-1 * var(--space-6));
  }

  .-est-r-ml-7 {
    --margin-left: calc(-1 * var(--space-7));
  }

  .-est-r-ml-8 {
    --margin-left: calc(-1 * var(--space-8));
  }

  .-est-r-ml-9 {
    --margin-left: calc(-1 * var(--space-9));
  }
}

.est-r-ml {
  --margin-left: var(--ml);
}

@media (--xs) {
  .xs\:est-r-ml {
    --margin-left: var(--ml-xs);
  }
}

@media (--sm) {
  .sm\:est-r-ml {
    --margin-left: var(--ml-sm);
  }
}

@media (--md) {
  .md\:est-r-ml {
    --margin-left: var(--ml-md);
  }
}

@media (--lg) {
  .lg\:est-r-ml {
    --margin-left: var(--ml-lg);
  }
}

@media (--xl) {
  .xl\:est-r-ml {
    --margin-left: var(--ml-xl);
  }
}