.est-r-max-h {
  max-height: var(--max-height);
}

@media (--xs) {
  .xs\:est-r-max-h {
    max-height: var(--max-height-xs);
  }
}

@media (--sm) {
  .sm\:est-r-max-h {
    max-height: var(--max-height-sm);
  }
}

@media (--md) {
  .md\:est-r-max-h {
    max-height: var(--max-height-md);
  }
}

@media (--lg) {
  .lg\:est-r-max-h {
    max-height: var(--max-height-lg);
  }
}

@media (--xl) {
  .xl\:est-r-max-h {
    max-height: var(--max-height-xl);
  }
}