.est-r-max-w {
  max-width: var(--max-width);
}

@media (--xs) {
  .xs\:est-r-max-w {
    max-width: var(--max-width-xs);
  }
}

@media (--sm) {
  .sm\:est-r-max-w {
    max-width: var(--max-width-sm);
  }
}

@media (--md) {
  .md\:est-r-max-w {
    max-width: var(--max-width-md);
  }
}

@media (--lg) {
  .lg\:est-r-max-w {
    max-width: var(--max-width-lg);
  }
}

@media (--xl) {
  .xl\:est-r-max-w {
    max-width: var(--max-width-xl);
  }
}