.est-r-min-h {
  min-height: var(--min-height);
}

@media (--xs) {
  .xs\:est-r-min-h {
    min-height: var(--min-height-xs);
  }
}

@media (--sm) {
  .sm\:est-r-min-h {
    min-height: var(--min-height-sm);
  }
}

@media (--md) {
  .md\:est-r-min-h {
    min-height: var(--min-height-md);
  }
}

@media (--lg) {
  .lg\:est-r-min-h {
    min-height: var(--min-height-lg);
  }
}

@media (--xl) {
  .xl\:est-r-min-h {
    min-height: var(--min-height-xl);
  }
}