.est-r-min-w {
  min-width: var(--min-width);
}

@media (--xs) {
  .xs\:est-r-min-w {
    min-width: var(--min-width-xs);
  }
}

@media (--sm) {
  .sm\:est-r-min-w {
    min-width: var(--min-width-sm);
  }
}

@media (--md) {
  .md\:est-r-min-w {
    min-width: var(--min-width-md);
  }
}

@media (--lg) {
  .lg\:est-r-min-w {
    min-width: var(--min-width-lg);
  }
}

@media (--xl) {
  .xl\:est-r-min-w {
    min-width: var(--min-width-xl);
  }
}