@breakpoints {
  .est-r-position-static {
    position: static;
  }

  .est-r-position-absolute {
    position: absolute;
  }

  .est-r-position-relative {
    position: relative;
  }

  .est-r-position-fixed {
    position: fixed;
  }

  .est-r-position-sticky {
    position: sticky;
  }
}