@breakpoints {
  .est-r-resize-none {
    resize: none;
  }

  .est-r-resize-vertical {
    resize: vertical;
  }

  .est-r-resize-horizontal {
    resize: horizontal;
  }

  .est-r-resize-both {
    resize: both;
  }
}