@breakpoints {
  .est-r-va-baseline {
    vertical-align: baseline;
  }

  .est-r-va-top {
    vertical-align: top;
  }

  .est-r-va-middle {
    vertical-align: middle;
  }

  .est-r-va-bottom {
    vertical-align: bottom;
  }
}