.est-r-w {
  width: var(--width);
}

@media (--xs) {
  .xs\:est-r-w {
    width: var(--width-xs);
  }
}

@media (--sm) {
  .sm\:est-r-w {
    width: var(--width-sm);
  }
}

@media (--md) {
  .md\:est-r-w {
    width: var(--width-md);
  }
}

@media (--lg) {
  .lg\:est-r-w {
    width: var(--width-lg);
  }
}

@media (--xl) {
  .xl\:est-r-w {
    width: var(--width-xl);
  }
}