@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

.DemoFormRoot {
	width: 260px;
}

.DemoFormField {
	display: grid;
	margin-bottom: 10px;
}

.DemoFormLabel {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: white;
}

.DemoFormMessage {
	font-size: 13px;
	color: white;
	opacity: 0.9;
}

.DemoFormInput,
.DemoFormTextarea {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	background-color: var(--white-a2);
	box-shadow: 0 0 0 1px var(--white-a6);
}

.DemoFormInput:hover,
.DemoFormTextarea:hover {
	box-shadow: 0 0 0 1px white;
}

.DemoFormInput:focus,
.DemoFormTextarea:focus {
	box-shadow: 0 0 0 2px white;
}

.DemoFormInput::selection,
.DemoFormTextarea::selection {
	background-color: var(--black-a6);
	color: white;
}

.DemoFormInput {
	padding: 0 10px;
	height: 35px;
	line-height: 1;
}

.DemoFormTextarea {
	resize: none;
	padding: 10px;
}

.DemoFormButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	width: 100%;
	background-color: white;
	color: var(--violet-11);
	box-shadow: 0 2px 10px var(--black-a4);
}

.DemoFormButton:hover {
	background-color: var(--mauve-3);
}

.DemoFormButton:focus {
	box-shadow: 0 0 0 2px black;
}