@import "@radix-ui/colors/violet.css";

.radix-demo[data-component="separator"] .SeparatorRoot {
	background-color: var(--violet-6);
}
.radix-demo[data-component="separator"] .SeparatorRoot[data-orientation="horizontal"] {
	height: 1px;
	width: 100%;
}
.radix-demo[data-component="separator"] .SeparatorRoot[data-orientation="vertical"] {
	height: 100%;
	width: 1px;
}

.radix-demo[data-component="separator"] .Text {
	color: white;
	font-size: 15px;
	line-height: 20px;
}
