@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
a,
button {
	all: unset;
}

.DemoToolbarRoot {
	display: flex;
	padding: 10px;
	width: 100%;
	min-width: max-content;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 2px 10px var(--black-a7);
}

.DemoToolbarToggleItem,
.DemoToolbarLink,
.DemoToolbarButton {
	flex: 0 0 auto;
	color: var(--mauve-11);
	height: 25px;
	padding: 0 5px;
	border-radius: 4px;
	display: inline-flex;
	font-size: 13px;
	line-height: 1;
	align-items: center;
	justify-content: center;
}
.DemoToolbarToggleItem:hover,
.DemoToolbarLink:hover,
.DemoToolbarButton:hover {
	background-color: var(--violet-3);
	color: var(--violet-11);
}
.DemoToolbarToggleItem:focus,
.DemoToolbarLink:focus,
.DemoToolbarButton:focus {
	position: relative;
	box-shadow: 0 0 0 2px var(--violet-7);
}

.DemoToolbarToggleItem {
	background-color: white;
	margin-left: 2px;
}
.DemoToolbarToggleItem:first-child {
	margin-left: 0;
}
.DemoToolbarToggleItem[data-state="on"] {
	background-color: var(--violet-5);
	color: var(--violet-11);
}

.DemoToolbarSeparator {
	width: 1px;
	background-color: var(--mauve-6);
	margin: 0 10px;
}

.DemoToolbarLink {
	background-color: transparent;
	color: var(--mauve-11);
	display: none;
	justify-content: center;
	align-items: center;
}
.DemoToolbarLink:hover {
	background-color: transparent;
	cursor: pointer;
}
@media (min-width: 520px) {
	.DemoToolbarLink {
		display: inline-flex;
	}
}

.DemoToolbarButton {
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: var(--violet-9);
}
.DemoToolbarButton:hover {
	background-color: var(--violet-10);
	color: white;
}
