@import './_internal/base-menu.css';

.est-ContextMenuContent {
  max-height: var(--essence-context-menu-content-available-height);
  transform-origin: var(--essence-context-menu-content-transform-origin);
  z-index: 9999;
  min-width: 8rem;
}

.est-ContextMenuSubContent {
  z-index: 10001;
  min-width: 8rem;
}