.rt-PopoverContent {
  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-5);
  min-width: var(--radix-popover-trigger-width);
  outline: 0;
  overflow: auto;
  position: relative;
  z-index: var(--z-index-popover, 1000);

  --inset-padding-top: var(--popover-content-padding);
  --inset-padding-right: var(--popover-content-padding);
  --inset-padding-bottom: var(--popover-content-padding);
  --inset-padding-left: var(--popover-content-padding);
  padding: var(--popover-content-padding);
  box-sizing: border-box;

  transform-origin: var(--radix-popover-content-transform-origin);
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.rt-PopoverContent[data-state="open"] {
  animation-name: rt-fade-in, rt-slide-in;
}

.rt-PopoverContent[data-state="closed"] {
  animation-name: rt-fade-out;
}

@keyframes rt-slide-in {
  from {
    transform: translateY(4px) scale(0.98);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-PopoverContent {
    &:where(.rt-r-size-1) {
      --popover-content-padding: var(--space-3);
      border-radius: var(--radius-4);
    }
    &:where(.rt-r-size-2) {
      --popover-content-padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &:where(.rt-r-size-3) {
      --popover-content-padding: var(--space-5);
      border-radius: var(--radius-5);
    }
    &:where(.rt-r-size-4) {
      --popover-content-padding: var(--space-6);
      border-radius: var(--radius-5);
    }
  }
}
